html, body {
    background-color: rgb(80, 79, 79);
}

.app-wrapper {
    display: grid;
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    grid-template-areas:
  "h h"
  "n c";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 8fr;
    /* grid-gap: 10px; */

}

.app-wrapper-content {
    grid-area: c;
    background-color: #cacaca;
}



